* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  font-family: "poppins";
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
}

a {
  color: white;
  text-decoration: none;
}

header {
  width: 100%;
  position: absolute;
}
header .container {
  margin: 0% 12%;
  font-size: 0.8em;
  margin-top: 1%;
}
header .container .contact-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header .container .contact-detail p {
  color: white;
}
header .container .contact-detail .social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.2em;
}
header .container .contact-detail .social-icons .circle {
  background-color: rgba(0, 0, 0, 0.4);
  width: 1em;
  height: 1em;
  border-radius: 50%;
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
header .container .contact-detail .social-icons .circle a {
  font-size: 1em;
  color: white;
}
header .container nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
header .container nav .logo a {
  color: white;
  text-decoration: none;
  font-size: 1.7em;
  font-weight: 600;
}
header .container nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
header .container nav ul li {
  font-size: 1em;
  list-style-type: none;
}
header .container nav ul li #active {
  color: rgb(161, 232, 81);
}
header .container nav .hamburger {
  display: none;
}

.section .yoga-image {
  background-color: hsl(0deg, 0%, 93%);
  width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: -1;
  overflow: hidden;
}
.section .yoga-image .yoga-image-gradient {
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(108, 174, 34, 0.4), rgba(146, 184, 41, 0.1), transparent);
}
.section .yoga-image .yoga-image-gradient img {
  width: 100%;
  min-height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translateY(-13%);
  z-index: -2;
  position: relative;
}
.section .yoga-image .container {
  margin: 0% 12%;
  font-size: 0.8em;
  position: absolute;
  top: 17%;
}
.section .yoga-image .container .flex-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1em 1em;
  z-index: 1;
  position: relative;
}
.section .yoga-image .container .flex-wrapper .text-container {
  flex: 1;
  color: white;
}
.section .yoga-image .container .flex-wrapper .text-container .green-text {
  font-family: "Reenie Beanie", cursive;
  color: rgb(108, 174, 34);
  font-size: 1.7rem;
  color: white;
}
.section .yoga-image .container .flex-wrapper .text-container .heading-text {
  margin: 4% 0;
  line-height: 1.3;
}
.section .yoga-image .container .flex-wrapper .text-container .heading-text h1 {
  font-size: 4.9em;
  font-weight: 300;
}
.section .yoga-image .container .flex-wrapper .text-container .sub-text p {
  color: #999999;
  font-size: 1.2em;
  font-weight: 400;
  color: white;
}
.section .yoga-image .container .flex-wrapper .play-button {
  flex: 1;
  margin: auto 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}
.section .yoga-image .container .flex-wrapper .play-button .circle {
  width: 5em;
  height: 5em;
  background-color: rgb(108, 174, 34);
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}
.section .yoga-image .container .flex-wrapper .play-button .circle i {
  color: white;
  font-size: 3em;
}
.section .yoga-image .container .flex-wrapper .play-button .circle::before {
  content: "";
  width: 9em;
  height: 9em;
  border-radius: 50%;
  position: absolute;
  background-color: black;
  z-index: -1;
  -webkit-animation-name: circle;
          animation-name: circle;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes circle {
  0% {
    width: 0;
    height: 0;
  }
  50% {
    width: 3em;
    height: 3em;
    background-color: rgb(108, 174, 34);
    opacity: 0.3;
  }
  100% {
    background-color: rgb(108, 174, 34);
    opacity: 0;
  }
}
@keyframes circle {
  0% {
    width: 0;
    height: 0;
  }
  50% {
    width: 3em;
    height: 3em;
    background-color: rgb(108, 174, 34);
    opacity: 0.3;
  }
  100% {
    background-color: rgb(108, 174, 34);
    opacity: 0;
  }
}
.section .yoga-image::before {
  content: "";
  position: absolute;
  left: -5%;
  bottom: 0%;
  background-color: hsl(0deg, 0%, 93%);
  height: 30%;
  width: 60%;
  transform: rotate(5deg);
  z-index: 1;
}
.section .yoga-image::after {
  content: "";
  position: absolute;
  right: -5%;
  bottom: 0%;
  background-color: hsl(0deg, 0%, 93%);
  height: 30%;
  width: 60%;
  transform: rotate(-5deg);
}

.sectionNotHome .yoga-image {
  height: 96vh;
  position: relative;
  z-index: -3;
  overflow: hidden;
  pointer-events: none;
}
.sectionNotHome .yoga-image .yoga-image-gradient {
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(108, 174, 34, 0.4), rgba(146, 184, 41, 0.1), transparent);
  pointer-events: none;
}
.sectionNotHome .yoga-image .yoga-image-gradient img {
  width: 100%;
  min-height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translateY(-13%);
  z-index: -2;
  position: relative;
  pointer-events: none;
}
.sectionNotHome .yoga-image .container {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  z-index: 2;
}
.sectionNotHome .yoga-image .container .flex-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1em 1em;
  position: relative;
  text-align: center;
}
.sectionNotHome .yoga-image .container .flex-wrapper .text-container {
  color: white;
  z-index: 3;
}
.sectionNotHome .yoga-image .container .flex-wrapper .text-container .green-text {
  font-family: "Reenie Beanie", cursive;
  color: rgb(108, 174, 34);
  font-size: 1.7rem;
  font-size: 1.3em;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.sectionNotHome .yoga-image .container .flex-wrapper .text-container .heading-text {
  margin: 4% 0;
  line-height: 1.3;
}
.sectionNotHome .yoga-image .container .flex-wrapper .text-container .heading-text h1 {
  font-size: 2.9em;
  font-weight: 300;
}

.card-section {
  width: 100%;
  min-height: 70vh;
  background-color: hsl(0deg, 0%, 93%);
  padding: 10px;
  transform: translateY(-20%);
}
.card-section .container {
  margin: 0% 12%;
  font-size: 0.8em;
}
.card-section .container .card-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.card-section .container .card-container .cards {
  max-width: 50ch;
  background-color: white;
  padding: 3em 2em;
  border-radius: 2%;
}
.card-section .container .card-container .cards .card-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 10%;
  position: relative;
  z-index: 1;
}
.card-section .container .card-container .cards .card-heading .card-logo i {
  font-size: 3.1em;
  color: rgb(108, 174, 34);
}
.card-section .container .card-container .cards .card-heading h2 {
  font-weight: 400;
  width: 100%;
  z-index: 12;
}
.card-section .container .card-container .cards .card-heading::before {
  content: "";
  width: 6em;
  height: 6em;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  opacity: 0.5;
  background-color: hsl(0deg, 0%, 93%);
  transition: background-color 0.5s;
  z-index: -1;
}
.card-section .container .card-container .cards .card-text p {
  color: #999999;
  font-size: 1.2em;
  font-weight: 400;
}
.card-section .container .card-container .cards:hover .card-heading::before {
  background-color: rgb(108, 174, 34);
}

.year-expirence-section {
  min-height: 100vh;
  position: relative;
  display: grid;
  place-content: center;
}
.year-expirence-section .container {
  margin: 0% 12%;
  font-size: 0.8em;
}
.year-expirence-section .container .green-calender {
  background-color: rgb(108, 174, 34);
  max-width: 10ch;
  text-align: center;
  padding: 5px;
  color: white;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-10%, -50%);
}
.year-expirence-section .container .green-calender .all-wrapper {
  border: 3px dashed white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.year-expirence-section .container .green-calender .all-wrapper .logo {
  font-size: 2em;
}
.year-expirence-section .container .green-calender .all-wrapper .date {
  font-weight: 700;
  font-size: 1.6em;
}
.year-expirence-section .container .green-calender .all-wrapper span {
  font-size: 0.8em;
}
.year-expirence-section .container .flex-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  flex-wrap: wrap;
}
.year-expirence-section .container .flex-wrapper .image-flex {
  flex: 1;
}
.year-expirence-section .container .flex-wrapper .image-flex img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.year-expirence-section .container .flex-wrapper .text-flex {
  flex: 1;
}
.year-expirence-section .container .flex-wrapper .text-flex .green-text {
  font-family: "Reenie Beanie", cursive;
  color: rgb(108, 174, 34);
  font-size: 1.7rem;
}
.year-expirence-section .container .flex-wrapper .text-flex .heading-text h2 {
  font-size: 3em;
  font-weight: 500;
}
.year-expirence-section .container .flex-wrapper .text-flex .wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.year-expirence-section .container .flex-wrapper .text-flex .wrapper .logo {
  font-size: 4em;
}
.year-expirence-section .container .flex-wrapper .text-flex .wrapper .quote {
  font-weight: 400;
  font-size: 1.6em;
  font-style: italic;
}
.year-expirence-section .container .flex-wrapper .text-flex .sub-text p {
  color: #999999;
  font-size: 1.2em;
  font-weight: 400;
}
.year-expirence-section .container .flex-wrapper .text-flex .video-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.year-expirence-section .container .flex-wrapper .text-flex .video-text .video-image {
  flex: 1;
}
.year-expirence-section .container .flex-wrapper .text-flex .video-text .video-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.year-expirence-section .container .flex-wrapper .text-flex .video-text .watch-video {
  flex: 2;
}
.year-expirence-section .container .flex-wrapper .text-flex .video-text .watch-video p {
  font-size: 1.2em;
}
.year-expirence-section .container .flex-wrapper .text-flex > * {
  margin-bottom: 2%;
}

.yoga-advantange {
  position: relative;
}
.yoga-advantange .container {
  margin: 0% 12%;
  font-size: 0.8em;
}
.yoga-advantange .container .green-text {
  font-family: "Reenie Beanie", cursive;
  color: rgb(108, 174, 34);
  font-size: 1.7rem;
  text-align: center;
  margin-top: 1em;
}
.yoga-advantange .container .heading {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 2em;
}
.yoga-advantange .container .flex-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  padding: 1em 0;
}
.yoga-advantange .container .flex-wrapper .image-flex {
  flex: 1;
  padding: 3em 0;
  text-align: center;
}
.yoga-advantange .container .flex-wrapper .image-flex img {
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}
.yoga-advantange .container .flex-wrapper .text-flex {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4em;
}
.yoga-advantange .container .flex-wrapper .text-flex .texts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.yoga-advantange .container .flex-wrapper .text-flex .texts .logo {
  font-size: 4em;
  color: rgb(108, 174, 34);
  position: relative;
}
.yoga-advantange .container .flex-wrapper .text-flex .texts .logo::after {
  content: "";
  background-color: hsl(0deg, 0%, 93%);
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  position: absolute;
  left: -26%;
  top: -5%;
  z-index: -1;
  transition: 0.5s ease-in;
}
.yoga-advantange .container .flex-wrapper .text-flex .texts .logo-text .heading-text h2 {
  font-weight: 400;
}
.yoga-advantange .container .flex-wrapper .text-flex .texts .logo-text .sub-text {
  font-size: 1.1em;
}
.yoga-advantange .container .flex-wrapper .text-flex .texts:hover .logo::after {
  background-color: rgb(108, 174, 34);
}
.yoga-advantange .container .flex-wrapper .text-flex .texts:hover .logo {
  color: white;
}

.yoga-advantange::before {
  content: "";
  background-image: url("https://preview.colorlib.com/theme/yogabest/images/xbg_3.jpg.pagespeed.ic.Av3Jl0cqml.webp");
  width: 100%;
  min-height: 100%;
  position: absolute;
  bottom: -10%;
  z-index: -1;
  opacity: 0.1;
}

.customer-count {
  background-color: rgb(108, 174, 34);
  overflow: hidden;
  position: relative;
}
.customer-count .background-fixed-image {
  min-height: 35vh;
  background-image: url("https://preview.colorlib.com/theme/yogabest/images/xbg_2.jpg.pagespeed.ic.Rt8O_je9ho.webp");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  opacity: 0.1;
  z-index: 3;
}
.customer-count .container {
  margin: 0% 12%;
  font-size: 0.8em;
}
.customer-count .container .green-banner {
  position: relative;
}
.customer-count .container .green-banner .flex-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  color: white;
  min-height: 35vh;
}
.customer-count .container .green-banner .flex-wrapper .count {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.customer-count .container .green-banner .flex-wrapper .count .logo {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  color: rgb(108, 174, 34);
  font-size: 3em;
  text-align: center;
  position: relative;
}
.customer-count .container .green-banner .flex-wrapper .count .text h1 {
  font-size: 2em;
}
.customer-count .container .green-banner .flex-wrapper .count .text p {
  font-size: 1em;
  font-weight: 400;
}
.customer-count .container .green-banner .flex-wrapper .count > * {
  flex: 1;
}

.yogabest-classes {
  min-height: 100vh;
}
.yogabest-classes .container {
  margin: 0% 12%;
  font-size: 0.8em;
}
.yogabest-classes .container .green-text {
  font-family: "Reenie Beanie", cursive;
  color: rgb(108, 174, 34);
  font-size: 1.7rem;
  text-align: center;
  margin: 5em 0 1em 0;
}
.yogabest-classes .container .heading {
  margin-bottom: 1em;
}
.yogabest-classes .container .heading h1 {
  font-size: 2.4em;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
}
.yogabest-classes .container .class-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 4em;
  gap: 10px;
}
.yogabest-classes .container .class-container .class {
  border-radius: 10px;
  padding: 10px;
  position: relative;
  width: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 5px 20px -20px black;
  margin-bottom: 50px;
}
.yogabest-classes .container .class-container .class .class-image {
  margin-bottom: 3rem;
  max-height: 300px;
  overflow: hidden;
}
.yogabest-classes .container .class-container .class .class-image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.yogabest-classes .container .class-container .class .class-name {
  padding-bottom: 50px;
}
.yogabest-classes .container .class-container .class .class-name p {
  font-size: 1.3em;
  font-weight: 500;
}
.yogabest-classes .container .class-container .class .time-date {
  position: absolute;
  top: 55%;
  width: 60%;
  min-height: 5em;
  background-color: rgb(108, 174, 34);
  color: white;
  font-size: 0.9em;
  font-weight: 600;
  text-align: center;
  padding: 10px;
}
.yogabest-classes .container .class-container .class .time-date div {
  display: inline;
}

.comments {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.comments .gray-banner {
  background-color: hsl(0deg, 0%, 93%);
}
.comments .gray-banner .container {
  margin: 0% 12%;
  font-size: 0.8em;
  margin-top: 0;
  margin-bottom: 0;
}
.comments .gray-banner .container .flex-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.comments .gray-banner .container .flex-wrapper .silder-container {
  flex: 3;
  background-color: rgb(108, 174, 34);
  padding: 30px;
  color: white;
  min-height: 24rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.comments .gray-banner .container .flex-wrapper .silder-container .slide {
  overflow: hidden;
  flex: 1;
}
.comments .gray-banner .container .flex-wrapper .silder-container .slide .comment {
  margin-bottom: 20px;
}
.comments .gray-banner .container .flex-wrapper .silder-container .slide .comment p {
  font-size: 1.2em;
}
.comments .gray-banner .container .flex-wrapper .silder-container .slide .person {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
}
.comments .gray-banner .container .flex-wrapper .silder-container .slide .person .logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: blue;
  overflow: hidden;
}
.comments .gray-banner .container .flex-wrapper .silder-container .slide .person .logo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.comments .gray-banner .container .flex-wrapper .silder-container .slide .person .name-position .name {
  font-weight: 600;
  font-size: 1.4em;
}
.comments .gray-banner .container .flex-wrapper .silder-container .slide .person .name-position .position {
  font-weight: 500;
  font-size: 1em;
}
.comments .gray-banner .container .flex-wrapper .what-they-say {
  flex: 4;
  min-height: 24rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 50px;
}
.comments .gray-banner .container .flex-wrapper .what-they-say .green-text {
  font-family: "Reenie Beanie", cursive;
  color: rgb(108, 174, 34);
  font-size: 1.7rem;
  margin-bottom: 10px;
}
.comments .gray-banner .container .flex-wrapper .what-they-say .heading {
  margin-bottom: 20px;
}
.comments .gray-banner .container .flex-wrapper .what-they-say .heading h1 {
  font-size: 2em;
}
.comments .gray-banner .container .flex-wrapper .what-they-say .sub-text {
  margin-bottom: 20px;
}
.comments .gray-banner .container .flex-wrapper .what-they-say .sub-text p {
  color: rgb(133, 133, 133);
  font-size: 1.1em;
}
.comments .gray-banner .container .flex-wrapper .what-they-say .what-they-do {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.comments .gray-banner .container .flex-wrapper .what-they-say .what-they-do .thing {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.comments .gray-banner .container .flex-wrapper .what-they-say .what-they-do .thing .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}
.comments .gray-banner .container .flex-wrapper .what-they-say .what-they-do .thing .logo i {
  font-size: 3em;
  color: rgb(108, 174, 34);
  z-index: 2;
}
.comments .gray-banner .container .flex-wrapper .what-they-say .what-they-do .thing .logo::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: white;
  transition: 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0%;
  border-radius: 50%;
  z-index: 1;
}
.comments .gray-banner .container .flex-wrapper .what-they-say .what-they-do .thing .logo-text {
  font-size: 1.2em;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.712);
}
.comments .gray-banner .container .flex-wrapper .what-they-say .what-they-do .thing:hover .logo::after {
  background-color: rgb(108, 174, 34);
}
.comments .gray-banner .container .flex-wrapper .what-they-say .what-they-do .thing:hover .logo > i {
  color: white;
}

.best-trainers {
  min-height: 100vh;
}
.best-trainers .container {
  margin: 0% 12%;
  font-size: 0.8em;
}
.best-trainers .container .green-text {
  font-family: "Reenie Beanie", cursive;
  color: rgb(108, 174, 34);
  font-size: 1.7rem;
  text-align: center;
}
.best-trainers .container .heading {
  margin: 1em 0;
}
.best-trainers .container .heading h1 {
  font-size: 2em;
  text-align: center;
}
.best-trainers .container .card-container {
  margin-top: 5em;
  min-height: 50vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.best-trainers .container .card-container .card {
  flex: 1;
  padding: 10px;
}
.best-trainers .container .card-container .card .card-image {
  width: 100%;
}
.best-trainers .container .card-container .card .card-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 47vh;
}
.best-trainers .container .card-container .card .card-body {
  text-align: center;
}
.best-trainers .container .card-container .card .card-body .card-sub-text {
  margin: 1.2em 0 0.1em 0;
  color: rgb(131, 131, 131);
  font-weight: 400;
}
.best-trainers .container .card-container .card .card-body .card-name h2 {
  font-size: 1.4em;
  font-weight: 500;
}
.best-trainers .container .card-container .card .card-body .sub-text {
  font-size: 1.2em;
  margin: 1.2em 0 0.1em 0;
  color: rgb(131, 131, 131);
  font-weight: 400;
}
.best-trainers .container .card-container .card .card-body .social-profile {
  margin: 1em 0 0.1em 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.best-trainers .container .card-container .card .card-body .social-profile .circle {
  width: 25px;
  height: 25px;
  margin-inline: 0.4em;
  border-radius: 50%;
  background-color: rgb(108, 174, 34);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.best-trainers .container .card-container .card .card-body .social-profile .circle i {
  color: white;
}

.blog {
  min-height: 100vh;
  background-color: rgba(232, 232, 232, 0.384);
}
.blog .container {
  margin: 0% 12%;
  font-size: 0.8em;
}
.blog .container .green-text {
  font-family: "Reenie Beanie", cursive;
  color: rgb(108, 174, 34);
  font-size: 1.7rem;
  text-align: center;
  padding-top: 40px;
}
.blog .container .heading-text {
  text-align: center;
  margin: 1em 0;
}
.blog .container .heading-text h1 {
  font-size: 2em;
}
.blog .container .card-container {
  margin-top: 4em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.blog .container .card-container .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
  position: relative;
}
.blog .container .card-container .card .card-image {
  width: 100%;
  min-height: 200px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.blog .container .card-container .card .card-image .image1 {
  background-image: url("https://preview.colorlib.com/theme/yogabest/images/ximage_1.jpg.pagespeed.ic.6_qwsYz6R7.webp");
  width: 100%;
  background-size: cover;
  height: 100%;
  position: absolute;
}
.blog .container .card-container .card .card-image .image2 {
  background-image: url("https://preview.colorlib.com/theme/yogabest/images/ximage_2.jpg.pagespeed.ic._5MfHZ6zHx.webp");
  width: 100%;
  background-size: cover;
  height: 100%;
  position: absolute;
}
.blog .container .card-container .card .card-image .image3 {
  background-image: url("https://preview.colorlib.com/theme/yogabest/images/ximage_3.jpg.pagespeed.ic.BpZCGrQBml.webp");
  width: 100%;
  background-size: cover;
  height: 200%;
  position: absolute;
  transform: translateY(-40%);
}
.blog .container .card-container .card .card-image .image4 {
  background-image: url("https://preview.colorlib.com/theme/yogabest/images/image_4.jpg.webp");
  width: 100%;
  background-size: cover;
  height: 200%;
  position: absolute;
  transform: translateY(-40%);
}
.blog .container .card-container .card .card-image .image5 {
  background-image: url("https://preview.colorlib.com/theme/yogabest/images/image_5.jpg.webp");
  width: 100%;
  background-size: cover;
  height: 200%;
  position: absolute;
  transform: translateY(-40%);
}
.blog .container .card-container .card .card-image .image6 {
  background-image: url("https://preview.colorlib.com/theme/yogabest/images/image_6.jpg.webp");
  width: 100%;
  background-size: cover;
  height: 200%;
  position: absolute;
  transform: translateY(-40%);
}
.blog .container .card-container .card .card-body {
  padding: 20px;
  position: relative;
}
.blog .container .card-container .card .card-body .date {
  position: absolute;
  top: -10%;
  left: 5%;
  background-color: rgb(108, 174, 34);
  width: 30%;
  border-radius: 5px;
  min-height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.blog .container .card-container .card .card-body .date i {
  color: white;
}
.blog .container .card-container .card .card-body .date .green-text {
  font-family: "Reenie Beanie", cursive;
  color: rgb(108, 174, 34);
  font-size: 1.7rem;
  color: white;
  margin: 0;
  padding: 0;
  font-size: 1em;
}
.blog .container .card-container .card .card-body .card-heading {
  margin: 0.7em 0;
}
.blog .container .card-container .card .card-body .card-heading h2 {
  font-weight: 600;
  color: black;
  font-size: 1.2em;
}
.blog .container .card-container .card .card-body .card-sub-text {
  line-height: 1.8;
}
.blog .container .card-container .card .card-body .card-sub-text p {
  font-weight: 400;
  font-size: 1.2em;
  color: rgba(109, 109, 109, 0.885);
  padding-bottom: 20px;
}
.blog .container .card-container .card .card-body .next {
  position: absolute;
  bottom: -10%;
  left: 5%;
  border-radius: 50%;
  padding: 2%;
  background-color: hsl(0deg, 0%, 93%);
  transition: 0.5s ease-in;
}
.blog .container .card-container .card .card-body .next i {
  color: rgb(108, 174, 34);
  font-size: 2em;
}
.blog .container .card-container .card:hover .next {
  background-color: rgb(108, 174, 34);
}
.blog .container .card-container .card:hover .next i {
  color: white;
}

.contact {
  min-height: 40vh;
}
.contact .container {
  margin: 0% 12%;
  font-size: 0.8em;
  min-height: 40vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.contact .container .flex-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.contact .container .flex-wrapper .contact-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact .container .flex-wrapper .contact-info .logo {
  background-color: rgb(108, 174, 34);
  width: 4em;
  height: 4em;
  border-radius: 50%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.contact .container .flex-wrapper .contact-info .logo i {
  color: white;
  font-size: 1.5em;
}
.contact .container .flex-wrapper .contact-info .info {
  font-size: 1.1em;
}
.contact .container .flex-wrapper .contact-info .info .green-text {
  color: rgb(108, 174, 34);
}
.contact .container .flex-wrapper .contact-info:nth-child(1) {
  padding-top: 20px;
}

.message-us {
  min-height: 85vh;
}
.message-us .container {
  margin: 0% 12%;
  font-size: 0.8em;
}
.message-us .container form {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  box-shadow: -2px 0px 15px -10px black;
}
.message-us .container form .message {
  padding: 50px 20px;
  flex: 3;
}
.message-us .container form .message .form-heading {
  margin-bottom: 2.3em;
}
.message-us .container form .message .form-heading h2 {
  font-size: 2em;
  font-weight: 300;
}
.message-us .container form .message .form-body .name-email {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.message-us .container form .message .form-body .name-email > * {
  flex: 1;
}
.message-us .container form .message .form-body .name-email > * input {
  width: 100%;
}
.message-us .container form .message .form-body label {
  display: block;
  color: rgb(108, 174, 34);
  font-weight: 500;
  margin-bottom: 1em;
}
.message-us .container form .message .form-body ::-moz-placeholder {
  color: rgba(128, 128, 128, 0.501);
  font-weight: 500;
  font-family: "poppins";
}
.message-us .container form .message .form-body :-ms-input-placeholder {
  color: rgba(128, 128, 128, 0.501);
  font-weight: 500;
  font-family: "poppins";
}
.message-us .container form .message .form-body ::placeholder {
  color: rgba(128, 128, 128, 0.501);
  font-weight: 500;
  font-family: "poppins";
}
.message-us .container form .message .form-body input, .message-us .container form .message .form-body textarea {
  width: 100%;
  padding: 0px 0 10px 0px;
  border: 0;
  border-bottom: 1px solid rgb(221, 221, 221);
  margin-bottom: 1.3em;
}
.message-us .container form .image-container {
  flex: 2;
  background-color: salmon;
  position: relative;
}
.message-us .container form .image-container .image img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
}
.message-us .container form button {
  background-color: rgb(108, 174, 34);
  border: none;
  padding: 10px;
  color: white;
  border-radius: 5px;
}

.location {
  margin-bottom: 4em;
}
.location .container {
  margin: 0% 12%;
  font-size: 0.8em;
  max-width: 100%;
}
.location .container .map-container {
  position: relative;
}
.location .container .map-container iframe {
  width: 100%;
}
.location .container .map-container:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

footer {
  min-height: 75vh;
  background-color: #141b25;
  color: white;
  margin-top: 2em;
  padding: 6em 0 0 0;
}
footer .container {
  margin: 0% 12%;
  font-size: 0.8em;
}
footer .container .flex-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
}
footer .container .flex-wrapper .footer {
  flex: 2;
}
footer .container .flex-wrapper .yogabest .heading {
  margin-bottom: 5%;
}
footer .container .flex-wrapper .yogabest .heading h2 {
  font-size: 1.6em;
}
footer .container .flex-wrapper .yogabest .sub-text {
  margin-bottom: 5%;
}
footer .container .flex-wrapper .yogabest .sub-text p {
  font-size: 1.1em;
}
footer .container .flex-wrapper .yogabest .social-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
footer .container .flex-wrapper .yogabest .social-profile .circle {
  width: 35px;
  min-height: 35px;
  border-radius: 50%;
  background-color: rgb(108, 174, 34);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
footer .container .flex-wrapper .recent-blog .heading {
  margin-bottom: 5%;
}
footer .container .flex-wrapper .recent-blog .heading h2 {
  font-size: 1.6em;
}
footer .container .flex-wrapper .recent-blog .sub-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
footer .container .flex-wrapper .recent-blog .sub-text .flex-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
footer .container .flex-wrapper .recent-blog .sub-text .flex-wrapper .image {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  overflow: hidden;
}
footer .container .flex-wrapper .recent-blog .sub-text .flex-wrapper .image img {
  width: 80px;
  min-height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}
footer .container .flex-wrapper .recent-blog .sub-text .flex-wrapper .text {
  flex: 1;
}
footer .container .flex-wrapper .recent-blog .sub-text .flex-wrapper .text h3 {
  font-size: 1.12em;
  font-weight: 400;
}
footer .container .flex-wrapper .recent-blog .sub-text .flex-wrapper .text .green-text {
  color: rgb(108, 174, 34);
  font-size: 0.8em;
}
footer .container .flex-wrapper .recent-blog .sub-text .flex-wrapper .text .green-text > * {
  display: inline;
}
footer .container .flex-wrapper .explore {
  flex: 1;
}
footer .container .flex-wrapper .explore .heading {
  margin-bottom: 5%;
}
footer .container .flex-wrapper .explore .heading h2 {
  font-size: 1.6em;
}
footer .container .flex-wrapper .explore .sub-text ul {
  list-style: none;
}
footer .container .flex-wrapper .explore .sub-text ul li {
  margin-bottom: 4%;
}
footer .container .flex-wrapper .explore .sub-text ul li a {
  font-size: 1.1em;
}
footer .container .flex-wrapper .question .heading {
  margin-bottom: 5%;
}
footer .container .flex-wrapper .question .heading h2 {
  font-size: 1.6em;
}
footer .container .flex-wrapper .question .sub-text .address {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
footer .container .flex-wrapper .question .sub-text .address i {
  font-size: 1.2em;
  color: rgb(108, 174, 34);
  margin-right: 1em;
}
footer .container .flex-wrapper .question .sub-text .phone {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
footer .container .flex-wrapper .question .sub-text .phone i {
  font-size: 1.2em;
  color: rgb(108, 174, 34);
  margin-right: 1em;
}
footer .container .flex-wrapper .question .sub-text .email {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
footer .container .flex-wrapper .question .sub-text .email i {
  font-size: 1.2em;
  color: rgb(108, 174, 34);
  margin-right: 1em;
}

@media screen and (max-width: 700px) {
  body {
    font-size: 16px !important;
  }
  header {
    background-color: black;
    position: fixed;
    z-index: 3;
  }
  header .container {
    margin: 0;
  }
  header .contact-detail {
    display: none !important;
  }
  header nav {
    padding: 10px !important;
    margin: 0 !important;
  }
  header nav .logo {
    flex: 1;
  }
  header nav .hamburger {
    flex: 1;
    display: flex !important;
    align-items: center;
    justify-content: flex-end;
    color: rgb(199, 199, 199);
    font-size: 1.5em;
  }
  header nav .nav-links {
    width: 100%;
    display: none;
  }
  .container {
    margin: 0.1em 0.4em !important;
  }
  .yoga-image img {
    transform: translateY(5%) !important;
  }
  .yoga-image .container .flex-wrapper {
    flex-direction: column !important;
    justify-content: space-between !important;
    align-items: center !important;
    min-height: 79vh;
  }
  .yoga-image .container .flex-wrapper .text-container {
    padding: 0 !important;
  }
  .yoga-image .container .flex-wrapper .text-container .heading-text h1 {
    font-size: 2.8em !important;
  }
  .yoga-image .container .flex-wrapper .text-container .sub-text p {
    font-size: 1.2em !important;
    line-height: 2 !important;
  }
  .yoga-image::after, .yoga-image::before {
    bottom: -28% !important;
  }
  .card-section {
    transform: translateY(0%);
    padding: 3em 0;
  }
  .card-section .container {
    margin: 0.1em 1em !important;
  }
  .card-section .container .card-container {
    flex-direction: column !important;
  }
  .card-section .container .card-container .cards {
    max-width: 100% !important;
  }
  .year-expirence-section {
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .year-expirence-section .container {
    margin: 0.1em 1em !important;
  }
  .year-expirence-section .container .green-calender {
    transform: translate(-60%, -100%);
  }
  .year-expirence-section .container .flex-wrapper .text-flex .green-text {
    font-size: 1.6em;
  }
  .year-expirence-section .container .flex-wrapper .text-flex .heading-text h2 {
    font-size: 2.7em;
    font-weight: 600;
  }
  .year-expirence-section .container .flex-wrapper .text-flex .wrapper .quote {
    font-weight: 500;
  }
  .year-expirence-section .container .flex-wrapper .text-flex .sub-text {
    font-weight: 600;
  }
  .yoga-advantange {
    padding: 10% 0;
  }
  .yoga-advantange .container {
    margin: 0.2em 1em !important;
  }
  .yoga-advantange .container .green-text {
    font-size: 1.6em;
    margin-bottom: 1em;
  }
  .yoga-advantange .container .heading {
    padding-inline: 2%;
    font-size: 1.5em;
    line-height: 1.4;
  }
  .yoga-advantange .container .flex-wrapper {
    flex-direction: column;
  }
  .yoga-advantange .container .flex-wrapper .image-flex img {
    width: 100%;
  }
  .yoga-advantange .container .flex-wrapper .text-flex {
    margin: 1em;
  }
  .customer-count {
    overflow: hidden;
    position: relative;
  }
  .customer-count .background-fixed-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-attachment: fixed;
    min-height: 100%;
  }
  .customer-count .container {
    margin: 1em !important;
  }
  .customer-count .container .green-banner .flex-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .year-expirence-section .container .green-calender {
    left: 10%;
    top: 35%;
  }
  .year-expirence-section .container .flex-wrapper {
    margin-top: 10px;
    flex-direction: column;
  }
  .yoga-advantange::before {
    top: 0;
    min-height: 1400px;
    background-size: cover;
  }
  .customer-count {
    margin: 0;
  }
  .yogabest-classes .container {
    margin: 1em !important;
  }
  .yogabest-classes .container .class-container {
    flex-direction: column;
  }
  .yogabest-classes .container .class-container .class {
    width: 100%;
  }
  .yogabest-classes .container .class-container .class .time-date {
    top: 50%;
  }
  .comments {
    display: block;
  }
  .comments .gray-banner {
    padding: 1em 0 0 0;
  }
  .comments .gray-banner .container {
    margin: 1em !important;
  }
  .comments .gray-banner .container .flex-wrapper {
    flex-direction: column;
  }
  .comments .gray-banner .container .flex-wrapper .what-they-say {
    width: 100%;
    padding: 1em;
  }
  .best-trainers .container .green-text {
    margin-top: 30px;
  }
  .best-trainers .container .card-container {
    flex-direction: column;
  }
  .blog {
    padding-bottom: 60px;
  }
  .blog .container {
    margin: 1em !important;
  }
  .blog .container .card-container {
    flex-direction: column;
  }
  .contact .container .flex-wrapper {
    flex-direction: column;
  }
  footer .container {
    margin: 1em !important;
    padding-bottom: 30px;
  }
  footer .container .flex-wrapper {
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */